@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle-wrapper {
    position: relative;
    display: inline-block;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 0.6875rem solid transparent;
    border-right: 0.6875rem solid transparent;
    border-bottom: 0.6875rem solid #E4E0E1;
}

.triangle-wrapper::before {
    content: '';
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid #F5F5F7;
}